@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/*@import "tw-animate-css";*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Dunkin';
    src: url('@/assets/fonts/Dunkin/Dunkin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dunkin-Bold';
    src: url('@/assets/fonts/Dunkin/Dunkin Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('@/assets/fonts/Inter/static/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter-italic';
    src: url('@/assets/fonts/Inter/static/Inter_24pt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /*--font-body: 'Montserrat', sans-serif, !important;*/
    /*--font-heading: 'Poppins', sans-serif;*/
    /*--font-code: 'Fira Code', monospace;*/
    --font-body: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-dunkin: 'Dunkin';
    --font-dunkin-bold: 'Dunkin-Bold';
    --font-inter: 'inter';
    --font-inter-italic: 'inter-italic';
    --font-heading: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-code: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
    --popover: oklch(0 0 0); /* #000000 */
    --primary: oklch(0.34 0.064 54.209); /* #512E15 */
    --secondary: oklch(0.639 0.091 61.629); /* #B47F50 */
    --accent: oklch(0.914 0.066 71.268); /* #FFDCB3 */
    --primary-foreground: oklch(0.975 0.015 80.708); /* #FCF6EC */
    --secondary-foreground: oklch(1 0 89.876); /* #FFFFFF */
    /*--muted: oklch(0.97 0.001 286.375);*/
}

.dark {
    --popover: oklch(0.2 0.006 285.885);
    --primary: oklch(0.985 0 0);
    --secondary: oklch(70.5% 0.213 47.604);
    --accent: oklch(0.274 0.006 286.033);
    --primary-foreground: oklch(0.2 0.006 285.885);
    --secondary-foreground: oklch(0.2 0.006 285.885);
}

@theme inline {
    --font-body: var(--font-body);
    --font-heading: var(--font-heading);
    --font-code: var(--font-code);
    --font-dunkin: var(--font-dunkin);
    --font-dunkin-bold: var(--font-dunkin-bold);
    --font-inter: var(--font-inter);
    --font-inter-italic: var(--font-inter-italic);
    --color-popover: var(--popover);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    /*--color-muted: var(--muted);*/
}

html {
    color-scheme: light dark;
}
html.dark {
    color-scheme: dark;
}
html.light {
    color-scheme: light;
}

body {
    font-family: var(--font-inter);
    line-height: 1.6;
    background-color: var(--secondary-foreground);
}